<div class="container text-center w-50">
    <p><i class="bi bi-exclamation-triangle large-icon text-warning"></i></p>
    <h1 class="fw-bold large-h1 pb-2">404</h1>
    <h3 class="fw-bold fs-3 p-2">Page Not Found</h3>
    <p class="fs-5 p-2 mx-5">We’re sorry, the page you have looked for does not exist in our website! Maybe go to our
        home
        page
        or try to use a search?</p>
    <button class="btn btn-outline-warning p-2 m-2 mb-5" routerLink="">Go Back To Home</button>
</div>