<footer>
    <div class="bg-dark">
        <div class="container-fluid text-light text-center">
            <h1 class="p-2" style="font-family: Roboto Mono">
                {{title}}
            </h1>
            <span class="d-flex justify-content-center m-3">
                <a href="" class="px-5">
                    <img src="../../assets/svg/instagram-logo.svg" alt="insta">
                </a>
                <a href="" class="px-5">
                    <img src="../../assets/svg/facebook-logo.svg" alt="facebook">
                </a>
                <a href="" class="px-5">
                    <img src="../../assets/svg/gmail-svgrepo-com.svg" alt="gmail">
                </a>
                <a href="" class="px-5">
                    <img src="../../assets/svg/whatsapp-logo.svg" alt="whatsapp">
                </a>
                <a href="" class="px-5">
                    <img src="../../assets/svg/phone-call.svg" alt="phone">
                </a>

            </span>
            <span class="d-flex justify-content-evenly m-3 p-2">
                <h4>
                    <a class="link-warning link-underline link-underline-opacity-0" href="about">
                        About Us
                    </a>
                </h4>
                <h4>
                    <a class="link-warning link-underline link-underline-opacity-0" href="">Products</a>
                </h4>
                <h4>
                    <a class="link-warning link-underline link-underline-opacity-0" href="cart">Cart</a>
                </h4>
            </span>

            <span class="fs-6 text-light fw-light ">
                © 2024 {{title}} Limited. All Rights Reserved.
            </span>
        </div>
    </div>
</footer>